streamlit
opencv-python-headless
yfinance>=0.2.18
pandas>=1.5.0
numpy>=1.24.0
plotly>=5.15.0
requests>=2.31.0
ta>=0.10.1
moviepy==1.0.3
imageio[ffmpeg]
rich
markdown-it-py
pygments
pillow
tqdm
decorator
proglog
pillow_heif









